/.idea
/templ
/static
/tmp
/uploads
/app
/download
/cloc
/script
/dist
flowbot.json
flowbot.yaml
flowbot.log
flowbot-agent.yaml
main
flowbot
*.tmp
/rules
/rules_bak
/docs/http-client.private.env.json
/scripts
*.sqlite3
*.sqlite3-shm
*.sqlite3-wal
*.exe
