package {{ .BotName }}

import (
    "github.com/flowline-io/flowbot/internal/ruleset/action"
    "github.com/flowline-io/flowbot/internal/types"
)

const (
    exampleActionID = "{{ .BotName }}_example_action"
)

var actionRules = []action.Rule{
    {
        Id: exampleActionID,
        Handler: map[string]func(ctx types.Context) types.MsgPayload{
            "option1": func(ctx types.Context) types.MsgPayload {
                return nil
            },
        },
    },
}
