package {{ .BotName }}

import (
    "github.com/sysatom/flowbot/internal/ruleset/agent"
    "github.com/sysatom/flowbot/internal/types"
)

const (
    AgentVersion  = 1
    ExampleAgentID = "{{ .BotName }}_example_agent"
)

var agentRules = []agent.Rule{
    {
        Id: ExampleAgentID,
        Handler: func(ctx types.Context, content interface{}) types.MsgPayload {
            return nil
        },
    },
}
