package {{ .BotName }}

import (
    "github.com/flowline-io/flowbot/internal/types/ruleset/collect"
    "github.com/flowline-io/flowbot/internal/types"
)

const (
    ExampleCollectID = "{{ .BotName }}_example_collect"
)

var collectRules = []collect.Rule{
    {
        Id: ExampleCollectID,
        Handler: func(ctx types.Context, content types.KV) types.MsgPayload {
            return nil
        },
    },
}
