package {{ .BotName }}

import (
    "github.com/flowline-io/flowbot/pkg/parser"
    "github.com/flowline-io/flowbot/internal/ruleset/command"
    "github.com/flowline-io/flowbot/internal/types"
)

var commandRules = []command.Rule{
    {
        Define: "example",
        Help:   `Example command`,
        Handler: func(ctx types.Context, tokens []*parser.Token) types.MsgPayload {
            return nil
        },
    },
}
