package {{ .BotName }}

import (
    "github.com/flowline-io/flowbot/internal/ruleset/condition"
    "github.com/flowline-io/flowbot/internal/types"
)

var conditionRules = []condition.Rule{
    {
        Condition: "ExampleMsg",
        Handler: func(ctx types.Context, forwarded types.MsgPayload) types.MsgPayload {
            return nil
        },
    },
}
