package {{ .BotName }}

import (
    "github.com/flowline-io/flowbot/pkg/types/ruleset/cron"
    "github.com/flowline-io/flowbot/pkg/types"
)

var cronRules = []cron.Rule{
    {
        Name: "{{ .BotName }}_example",
        When: "* * * * *",
        Action: func(types.Context) []types.MsgPayload {
            return nil
        },
    },
}
