package {{ .BotName }}

import (
    "github.com/flowline-io/flowbot/internal/ruleset/form"
    "github.com/flowline-io/flowbot/internal/types"
)

const (
    exampleFormID = "{{ .BotName }}_example_form"
)

var formRules = []form.Rule{
    {
        Id: exampleFormID,
        Handler: func(ctx types.Context, values types.KV) types.MsgPayload {
            return nil
        },
    },
}
