package {{ .BotName }}

import "github.com/flowline-io/flowbot/pkg/types/ruleset/instruct"

const (
    ExampleInstructID = "{{ .BotName }}_example_instruct"
)

var instructRules = []instruct.Rule{
    {
        Id: ExampleInstructID,
        Args: []string{},
    },
}
