package {{ .BotName }}

import (
    "encoding/json"
    "errors"
    "github.com/flowline-io/flowbot/internal/modules"
    "github.com/flowline-io/flowbot/pkg/types"
    "github.com/flowline-io/flowbot/pkg/flog"
    {{if .HasCron}}"github.com/flowline-io/flowbot/pkg/types/ruleset/cron"{{end}}
    "github.com/bytedance/sonic"
)

const Name = "{{ .BotName }}"

var handler moduleHandler

func init() {
    modules.Register(Name, &handler)
}

type moduleHandler struct {
    initialized bool
    modules.Base
}

type configType struct {
    Enabled bool `json:"enabled"`
}

func (moduleHandler) Init(jsonconf json.RawMessage) error {
    // Check if the handler is already initialized
    if handler.initialized {
        return errors.New("already initialized")
    }

    var config configType
    if err := sonic.Unmarshal(jsonconf, &config); err != nil {
        return errors.New("failed to parse config: " + err.Error())
    }

    if !config.Enabled {
        flog.Info("module %s disabled", Name)
        return nil
    }

    handler.initialized = true

    return nil
}

func (moduleHandler) IsReady() bool {
    return handler.initialized
}

func (moduleHandler) Bootstrap() error {
	return nil
}

func (b moduleHandler) Rules() []interface{} {
	return []interface{}{
		commandRules,
		{{if .HasForm}}formRules,{{end}}
		{{if .HasCollect}}collectRules,{{end}}
		{{if .HasInstruct}}instructRules,{{end}}
		{{if .HasCron}}cronRules,{{end}}
	}
}

{{if .HasInput}}
func (b moduleHandler) Input(_ types.Context, _ types.KV, _ interface{}) (types.MsgPayload, error) {
    return nil, nil
}
{{end}}
{{if .HasCommand}}
func (b moduleHandler) Command(ctx types.Context, content interface{}) (types.MsgPayload, error) {
    return modules.RunCommand(commandRules, ctx, content)
}
{{end}}
{{if .HasForm}}
func (b moduleHandler) Form(ctx types.Context, values types.KV) (types.MsgPayload, error) {
    return modules.RunForm(formRules, ctx, values)
}
{{end}}
{{if .HasCron}}
func (b moduleHandler) Cron() (*cron.Ruleset, error) {
    return modules.RunCron(cronRules, Name)
}
{{end}}
{{if .HasCollect}}
func (b moduleHandler) Collect(ctx types.Context, content types.KV) (types.MsgPayload, error) {
    return modules.RunCollect(collectRules, ctx, content)
}
{{end}}
