package partials

templ ViewTextContent(content string) {
	<pre class="bg-base-100 rounded-box shadow-sm border border-base-300 p-6 whitespace-pre-wrap text-base-content text-sm font-mono" data-testid="view-text-content">
		{ content }
	</pre>
}
