package partials

templ ViewTextContent(content string) {
	<pre class="bg-white rounded-lg shadow-sm border border-gray-200 p-6 whitespace-pre-wrap text-gray-800 text-sm font-mono" data-testid="view-text-content">
		{ content }
	</pre>
}
