package partials

templ viewMarkdownContent(content string) {
	<div class="bg-white rounded-lg shadow-sm border border-gray-200 p-6 prose prose-sm max-w-none text-gray-800" data-testid="view-markdown-content">
		{ content }
	</div>
}
