name: BuildAgent

on:
  push:
    branches:
      - '*'
    paths:
      - cmd/agent/**
      - pkg/**
      - version/**
      - go.mod
      - go.sum

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: '^1.26'

      - uses: actions/cache@v5
        with:
          path: |
            ~/.cache/go-build
            ~/go/pkg/mod
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-

      - name: install task
        run: |
          go install github.com/go-task/task/v3/cmd/task@latest
          go install github.com/goreleaser/goreleaser/v2@latest

      - name: Build agent
        run: |
          task snapshot
