name: Build

on:
  push:
    branches:
      - '*'
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: '^1.25'

      - uses: actions/cache@v5
        with:
          path: |
            ~/.cache/go-build
            ~/go/pkg/mod
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-

      - name: Lint
        run: |
          go env
          go install github.com/go-task/task/v3/cmd/task@latest
          go install github.com/mgechev/revive@latest
          go install github.com/rhysd/actionlint/cmd/actionlint@latest
          go mod download
          task lint

      - name: Build server
        run: |
          task build
