name: BuildAgent

on:
  push:
    branches:
      - '*'
    paths:
      - cmd/agent/**
      - pkg/**
      - version/**
      - go.mod
      - go.sum
  pull_request:
    paths:
      - cmd/agent/**
      - pkg/**
      - version/**
      - go.mod
      - go.sum

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: '^1.26'
          cache: true

      - name: Install Task
        uses: arduino/setup-task@v2
        with:
          version: 3.x

      - name: Install GoReleaser
        uses: goreleaser/goreleaser-action@v7
        with:
          install-only: true
          version: '~> v2'

      - name: Build agent
        run: |
          task snapshot
