name: Docker

on:
  push:
    tags:
      - v*

permissions:
  contents: read
  packages: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout server repo
        uses: actions/checkout@v6

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Github Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push server
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          file: deployments/Dockerfile
          tags: ghcr.io/flowline-io/flowbot:latest,ghcr.io/flowline-io/flowbot:${{ github.ref_name }}
